    /* Mobile View */
#main_image {
    width: 100%;
    display: block;
}
    aside {
        background:black;
        color: white;
        font-size: 120%;
        padding: 10px 0;
        border: 4px solid brown;
        border-radius: 10px;
        width: 100%;
        margin: auto;
		text-align: left;
        justify-content: center;
	}
    /* Desktop View */
    @media only screen and (min-width: 768px) {
        main {
            display: flex;
            margin: auto;
        }
        aside {
            width: 1000px;
            height: auto;
            margin: auto;
            float: right;
        } 
        section {
            display: inline;
            float: left;
            width: 70%;
        }
    }