/* Stlye the footer */
footer {
	background: brown;
  	color: white;
	padding: 10px 0 4px 0;
	text-align: center;
	width: 100%;
}
/* Style the links in the footer */
footer a {
	color: white;
	display:inline-block;
	padding: 8px;
	text-decoration: underline;
}

footer a:hover {
	background-color: white;
	color: black;
}

footer a:focus {
	background-color: white;
	color: black;
	outline: none;
}

footer img {
	height:22px;
	margin-left:3px;
	vertical-align:text-bottom;
}